<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="header">
      <h1>{{ title }}</h1>
    </div>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    
    <footer>
      <p>&copy; 2024 thaleson Inc.</p>
    </footer>
  </body>
</html>
